
  	<div class="container">
  		<a href="http://www.cornell.edu"><%= image_tag "cornell-black.gif" , alt: "Cornell University" %></a>
	  	<div class="hero">
	  		<a href="/catalog?view=maps"><%= image_tag "monpazier.jpg" , alt: "" %></a>
	  		<div class="cover-title">
			  	<h1><a href="/catalog?view=maps">Bastides</a></h1>
			  	<h2><a href="/catalog?view=maps">Medieval New Towns of Southwestern France</h2>
			</div>
		</div>
	  </div>