<header>
  <div class="mobile-cornell-identity visible-xs">
    <a href="http://www.cornell.edu"><%= image_tag "cornell-black.gif" , alt: "Cornell University" %></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="cornell-identity">
        <div class="insignia hidden-xs">
          <a href="http://www.cornell.edu"><%= image_tag "CU-Insignia-White-120.png" , alt: "Cornell University" %></a>
        </div>
        <div class="cul-brand">
          <a href="http://www.library.cornell.edu" class="cul-brand">Cornell University Library</a>
          <a href="/?&view=maps" class="brand">John Reps<br>Bastides Collection</a>
        </div>
      </div>
      <div class="header-search">
        <%= render :partial=>'/user_util_links' %>
        <%= render_search_bar  %>
      </div>
    </div>
  </div>
</header>