<div class="then-later">
  <h3>Aigues-Mortes</h3>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "then_later/aigues-mortes1890.jpg", alt: "Aigues-Mortes, 1890" %>
        <div class="caption">1890</div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "then_later/aigues-mortes1971.jpg", alt: "Aigues-Mortes, 1971" %>
        <div class="caption">1971</div>
      </div>
    </div>
  </div>
</div>