<div class="col-sm-3 menu-toggle">
	<div class="dropdown">
	  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-menu">
	  	<i class="fa fa-bars"></i>Menu
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dLabel">
		<li><a href="/catalog?view=maps">Home</a></li>
		<li><a href="/about">About the Bastides</a></li>
		<li><a href="/bastides">Selected Bastides</a></li>
		<li><a href="/credits">Project Credits</a></li>
		<li><a href="/contact">Contact</a></li>
	  </ul>
	</div>
</div>