<div class="pull-right slide-number">
	8
</div>
<p>Only a few bastides have become small cities (Libourne, Carcassonne, Villeneuve-sur-Lot) and many have disap-peared altogether. However, scores remain and thrive as market towns, tourist centers and places where arts and crafts flourish.</p>
<div class="well">
	<a href="/assets/about/8.png" data-lightbox="6"><%= image_tag "about/8.png" , alt: "", class: "img-responsive" %></a>
</div>