<div class="pull-right slide-number">
	11
</div>
<p>Here is where viewer should be given option to move to a fuller historical explanation of the bastide phenomenon, or the images in A-Z order, or the “then and later” comparisons that are in PowerPoint format or …
</p>