<div class="pull-right slide-number">
	5
</div>
<p>One provision of the treaty ending the conflict allowed new towns to be created provided they were not fortified. Count Raymond VII saw this as a way to rebuild his shattered domain and return it to prosperity. He located these new centers of farming, craft industry and trade on vacant or lightly occupied sites in the heart of the County of Toulouse.</p>
<div class="well">
	<a href="/assets/about/5.png" data-lightbox="5"><%= image_tag "about/5.png" , alt: "", class: "img-responsive" %></a>
</div>