<p>Red dots added to this 17th-century map of southwestern  France locate 100 bastides then known to the map maker. More than 300 and possibly as many as 500 once existed in this region. </p>
<div class="well">
	<a href="/assets/about/3.png" data-lightbox="3"><%= image_tag "about/3.png" , alt: "", class: "img-responsive" %></a>
</div>