<div class="pull-right slide-number">
	1
</div>
<p>Bastides are planned towns of southwestern France founded in the 13th and 14th centuries by kings, dukes, and counts who sought to develop their domains and increase  revenues by creating new market centers and places of trade. Most bastides have some variety of a gridiron street plan and a central marketplace, usually rectangular in shape and often bordered by ground-level arcades.</p>
<div class="well">
	<div class="row">
		<div class="col-sm-6">
			<a href="/assets/about/1a.png" data-lightbox="1a"><img src="/assets/about/1a.png" class="img-responsive" alt=""></a>
		</div>
		<div class="col-sm-6">
			<a href="/assets/about/1b.png" data-lightbox="1b"><img src="/assets/about/1b.png" class="img-responsive" alt=""></a>
		</div>
	</div>
</div>
