<div class="pull-right slide-number">
	9
</div>
<p>Because most bastides were created as market centers they were not originally fortified. A ditch and palisade was often enough to mark the boundary between town and country. Only later during the Hundred Years War or the Wars of Religion were many bastides walled and provided with strong towers and gates like these.</p>
<div class="well">
	<div class="row">
		<div class="col-sm-4">
			<a href="/assets/about/9a.png" data-lightbox="9a"><%= image_tag "about/9a.png" , alt: "", class: "img-responsive" %></a>
		</div>
		<div class="col-sm-4">
			<a href="/assets/about/9b.png" data-lightbox="9b"><%= image_tag "about/9b.png" , alt: "", class: "img-responsive" %></a>
		</div>
		<div class="col-sm-4">
			<a href="/assets/about/9c.png" data-lightbox="9c"><%= image_tag "about/9c.png" , alt: "", class: "img-responsive" %></a>
		</div>
	</div>
</div>