<div class="pull-right slide-number">
	2
</div>
<p>Bastides dot the countryside of southwestern France in a region extending east from the city of Bordeaux at the mouth of the Garonne River to and beyond Toulouse and south to the foothills of the Pyrenees.  
</p>
<div class="well">
	<a href="/assets/about/2.png" data-lightbox="2"><%= image_tag "about/2.png" , alt: "", class: "img-responsive" %></a>
</div>