<div class="pull-right slide-number">
	6
</div>
<p>His successor, Alphonse de Poitiers, extended this policy to  include sites near the county’s frontier. Lacking control of the land or wishing to involve others in the enterprise, Alphonse built bastides in partnerships with local lords or heads of land-owning monasteries. Many documents creating these partnerships referred to such towns as “bastides.”</p>
<div class="well">
	<a href="/assets/about/6.png" data-lightbox="6"><%= image_tag "about/6.png" , alt: "", class: "img-responsive" %></a>
</div>