<div class="row">
	<div class="col-sm-9">
		<h2>About the Bastides</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<ul>
  <li><a href="/intro">A brief introduction to Bastides</a></li>
  <li><a href="/then-later">Bastides, Then and Later</a></li>
  <li>Bastides of Southwestern France</li>
  <li>[TBD: Two PowerPoints linked with "Where these images come from" as intro]</li>
  <li><a href="/bibliography">Bibliography</a></li>
  <li><a href="/words">A Word About Words</a></li>
</ul>