<h2>About</h2>
<div class="row">
	<div class="col-sm-8">
		<h3>What is a bastide?</h3>
	</div>
	<div class="col-sm-4 prev-next">
  		<span id="slider-prev"></span> | <span id="slider-next"></span></p>
  	</div>
</div>

<ul class="bxslider">
  <li><%= render '/pages/slide1' %></li>
  <li><%= render '/pages/slide2' %></li>
  <li><%= render '/pages/slide3' %></li>
  <li><%= render '/pages/slide4' %></li>
</ul>
