<div class="row">
	<div class="col-sm-9">
		<h2>About the Bastides</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<p>In the 13th Century southwestern France was the birthplace of several hundred new planned towns.  Some were designed as fortress communities and others were laid out as simple agricultural villages. The great majority, however, had a different function.</p>
<p>Known as <em>bastides</em>, these were created as market towns designed primarily to return a profit to their sponsors as well as concentrating the population in secure places for ease of administration. Their founders were the great feudal lords of the region: kings, dukes, counts and viscounts.</p>
<p>The majority of the bastides were planned with straight streets intersecting at right angles and focused on a square or rectangular marketplace.  Complete or partial arcades line the sides of the marketplace at most bastides, and some have a market building at its center.</p>
<p>Unlike most other towns of the period, the bastide church did not occupy the most prominent site. Instead, it is usually found off one corner of the square or placed one or two blocks away.</p>
<p>Although some bastides have strong walls and gates and are often described as fortified communities, most of these features were later additions constructed during the Hundred Years War or the religious conflicts that followed.</p>
</p>
<h3>Learn more about the bastides</h3>
<ul>
  <li><a href="/intro">A brief introduction to Bastides</a></li>
  <li><a href="/then-later">Bastides, Then and Later</a></li>
  <li>[TBD: Two PowerPoints linked with "Where these images come from" as intro]</li>
  <li><a href="/bibliography">Bibliography</a></li>
  <li><a href="/words">A Word About Words</a></li>
</ul>