<div class="row">
	<div class="col-sm-9">
		<h2>Bibliography</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<ul>
  <li><a href="#print">Print</a></li>
  <li><a href="#web">Web Resources</a></li>
</ul>
<h3 id="print">Print</h3>
<p>
    Anon. <em>Au Coeur de la Gascogne, Beaumarchés, Bastide Royale.</em> Beaumarchés: Imprimerie Saint-Joseph, 1988.
</p>
<p>
    Assassin, Sylvia. <em>Les Bastides de l'Agenais</em>. Toulouse: Diagram Editeur, 1994.
</p>
<p>
    Assassin, Sylvia and Barthélémy Dumons. <em>Les Bastides du Rouergue</em>. Toulouse: Diagram Editeur, 1995.
</p>
<p>
    Assassin, Sylvie, Barthélémy Dumons, and Nathalie Prat. <em>The Bastides of the Périgord</em>. Toulouse: Diagram Editeur, 1991.
</p>
<p>
    Audrerie, Dominique. "Domme: ou la Gestion Concertée." <em>Monuments Historiques</em>, No. 158 Août-Septembre 1988):46-48.
</p>
<p>
    Barber, Malcolm. <em>The Cathars: Dualist Heretics in Languedoc in the High Middle Ages.</em> Harlow, England: Pearson Education Limited, 2000.
</p>
<p>
    Barré, Jean-Luc. <em>Villeneuve-sur-Lot: Le Temps d'une Bastide.</em> Toulouse (?): APAMP Midi-Pyrénées, 1992.
</p>
<p>
    Barroux, M. "Alphonse Ier," <em>Dictionnaire de Biographie Française.</em> Paris: Librairie Letouzey et Ané, 1936: 2:303-06.
</p>
<p>
    "Bastide." <em>Dictionary of the Middle Ages.</em> New York: Charles Scribner's Sons, 1989: 2:128-29.
</p>
<p>
    "Bastide." <em>Encyclopedia Britannica</em> 11th ed. Cambridge: Cambridge University Press, 1910: 3:501.
</p>
<p>
    Bentley, James. <em>Fort Towns of France: The Bastides of the Dordogne &amp; Aquitaine</em>. London: Tauris Parke Books, 1993.
</p>
<p>
    Beresford, Maurice. <em>New Towns of the Middle Ages: Town Plantation in England, Wales and Gascony</em>. New York: Praeger, 1967.
</p>
<p>
Berman, Constance. "Cistercian Vernacular Architecture in Southern France: The Question of Bastides." In Meredith Parsons Lillich (ed.),    <em>Studies in Cistercian Art and Architecture</em>. Cistercian Studies Series Number 167.Kalamazoo, Michigan: Cistercian Publications, 1998, V, 230-269.
</p>
<p>
    Bernard, Gilles. <em>The Bastides of South-West France</em>. Toulouse: Diagram Editeur, 1991.
</p>
<p>
    Bernard, G[illes] and Cavagnac, G. <em>Villefranche-de-Rouergue, Histoire et Génie du Lieu.</em> Toulouse, Privat, 1991.
</p>
<p>
    Berthe, Maurice. "Quelle a eté la Première des Bastides," <em>Info Bastide: Bulletin du Centre d'Étude des Bastides</em>, No. 40 (December 1998): unpaged.
</p>
<p>
    Boerefign, Wim. "Designing the Medieval New Town." <em>Urban Morphology</em> 4, No. 2 (2000):49-62.
</p>
<p>
    Boldrick, Stacy L. "Military Architecture." In William W. Kibler and Grover A. Zinn, eds., <em> Medieval France: An Encyclopedia</em>. New York and London:
    Garland Publishing, Inc., 1995, 619.
</p>
<p>
    Boutaric, Edgard. <em>Saint Louis et Alfonse de Poitiers</em>. Paris: Henri Plon, 1870.
</p>
<p>
    Bromwich, James. <em>The Roman Remains of Southern France: a Guidebook.</em> London: Routledge, 1993.
</p>
<p>
    Calmettes, Claude and Quitterie. <em>Bastides en Rouergue</em>. Saint-Georges-de-Luzenon: Éditions du Beffroi, 1990.
</p>
<p>
    Cayla, J[ean] M[amert]. <em>Histoire de la Ville de</em> <em>Toulouse depuis sa Fondation jusqu'a nos Jours</em>. Toulouse: Bon et Privat, 1839.
</p>
<p>
    Castillon, H. <em>Histoire du Comté de Foix Depuis les Temps Anciens jusqu'a Nos Jours</em>. Toulouse: J. B. Casaux, 1852
</p>
<p>
    Chatauret, Pierre. "Régularité et Gestion." <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):33-36.
</p>
<p>
    Chevalier, Jean-Louis. "Les Bastides du Sud-ouest, Patrimoine Touristique?" <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):41.
</p>
<p>
    __________. "Un Urbanisme Exemplaire: Trois Leçons pour Demain." <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):85-88.
</p>
<p>
    Cheyette, Frederick L. "Saint Gilles." In William W. Kibler and Grover A. Zinn, eds., <em>Medieval France: An Encyclopedia</em>. New York and London:
    Garland Publishing, Inc., 1995, 840-41.
</p>
<p>
Clémens, Jacques. "Sécurité, Politique et Réalisme: l'Habitat en Pays de Garonne." In Janine Garrisson-Estèbe and Marc Ferro (eds.),    <em>Une Histoire de la Garonne</em>. Paris: Éditions Ramsay, 1982, 177-189.
</p>
<p>
    __________. <em>Villeneuve-sur-Lot.</em> <em>Atlas Historique des Villes de France.</em> Paris: Éditions du Centre National de la Recherche Scientifique,
    1985.
</p>
<p>
    Combarnous, Louis. <em>Sainte-Foy-la-Grande</em>. Paris-U.P.8., 1982.
</p>
<p>
    Courtiau, Jean-Pierre. "Les Bastides: Nouvelles Formes Urbaines, Produit de Consensus Social?" <em>Monuments Historiques</em>, No. 158 (Août-Septembre
    1988):78-84.
</p>
<p>
    Cursente, Benoît. <em>Des maisons et des hommes: La Gascogne médiévale (Xie-XVe siècle)</em>. Toulouse: Presses Universitaires du Mirail, 1998
</p>
<p>
    Curie-Seimbres, Alcide. <em>Essai sur les Villes Fondées dans le Sud-ouest de la France aux XIIIe et XIVe Siècles sous le Nom Génerique de Bastides.</em>
    Toulouse: E. Privat, 1880.
</p>
<p>
    Dilke, O.A.W. <em>The Roman Land Surveyors: An Introduction to the</em> <em>Agrimensores</em>. Newton Abbot, Devon: David &amp; Charles, 1971.
</p>
<p>
    Devals, J.-U. <em>Histoire de Montauban</em>. Montauban: Forestié et Compagnie, 1855.
</p>
<p>
    Dezelus, R. <em>Hastingues, Village de Gascogne (1304-1986)</em>. Dax: Barrouillet, 1987.
</p>
<p>
Divorne, Françoise, Bernard Gendre, Bruno Lavergne and Philippe Panerai.    <em>Les Bastides d'Aquitaine, du Bas-Languedoc et du Béarn: Essai sur la Regularité</em>. Bruxelles: aux Archives d'Architecture Moderne, 1985.
</p>
<p>
    Divorne, Françoise. "Stratégie d'Implantation des Bastides." <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):8-12.
</p>
<p>
Dossat, Yves. "Les Chartes de Coutumes d'Alfonse de Poitiers du Type de Castelsagrat et la Charte de <em>Noville</em> (Janvier 1270)." In Dossat,    <em>Evolution de la France Méridionale 1249-1328</em>. London: Variorum Reprints, 1989, unpaged.
</p>
<p>
    ------------__ "Les Débuts de la Bastide de Sainte-Foy-la-Grande en Agenais." In Dossat, <em> Evolution de la France Méridionale 1249-1328</em>. London:
    Variorum Reprints, 1989, unpaged.
</p>
<p>
    Dufourcq, Pierre. <em>Quelques Étapes de l'Histoire de La Bastide Clairence</em>. Bardos: Imprimerie des Trois Vallées, 1994.
</p>
<p>
    Dynes, Wayne. "The Medieval Cloister as Portico of Solomon." <em>Gesta</em> 12 (1973):61-69.
</p>
<p>
    Drouyn, Leo. <em>La Guienne Militaire</em>. 2 vols. Bordeaux: Chez l'Auteur, 1865.
</p>
<p>
    Dryjski, Dominique. "Les Bastides: Secteur ou Tracé à Sauvegarder." <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):37-40.
</p>
<p>
    Dubord, R. "Foundations Civiles de l'Abbaye de Gimont," <em>Revue de Gascogne</em> 17 (1876): 388-402, 504-19, &amp; 559-72.
</p>
<p>
    Dubourg, Jacques. <em>Connaître les Bastides de l'Armagnac</em>. Bordeaux: Éditions Sud Ouest, 1996.
</p>
<p>
    __________. <em>Connaître les Bastides du Lot-et-Garonne</em>. Bordeaux: Éditions Sud-Ouest, 1991.
</p>
<p>
    __________. <em>Connaître les Bastides du Périgord</em>. Bordeaux: Éditions Sud-Ouest, 1993.
</p>
<p>
    __________. <em>Histoire des Bastides d'Aquitaine</em>. Bordeaux: Éditions Sud-Ouest, 1991.
</p>
<p>
    __________. <em>Histoire des Bastides de Midi-Pyrénées</em>. Bordeaux: Éditions Sud-Ouest, 1997.
</p>
<p>
    Ducourneau, Alex. <em>La Guienne Historique et Monumentale</em>. 2 vols. Bordeaux: P. Coudert, 1842-44
</p>
<p>
    Dumoulin, J. <em>Villeneuve et le Rouergue Occidental (XI-XIV Siècles</em>. Aire-sur-Adour, Castay, 1990.
</p>
<p>
    Dumons, Barthélémy, Nathalie Prat, and Marion Sartre. <em>The Bastides of the Lauragais and of the Pays de Foix</em>. Toulouse: Diagram Editeur, 1991.
</p>
<p>
    Fau, Jean-François and Jean-Claude Fau. <em>Montauban Tarn-et-Garonne</em>. <em>Atlas Historique des Villes de France.</em> Paris: Éditions du Centre
    National de la Recherche Scientifique, 1983.
</p>
<p>
    Faucheur, Patrick. "La Bastide, un Modèle Urbain Fini?" <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):73-77.
</p>
<p>
    Fayolle, Gérard. <em>Histoire du Périgord</em>. 2 vols. Périgueux: Pierre Fanlac, 1983.
</p>
<p>
    Fournioux, Bernard. "Une Bastide Vicomtale en Périgord: Bonneval." <em>Annales du Midi</em> 92 (1980): 133-150.
</p>
<p>
    Fraysse, Patrick. "Maisons à Pans de Bois Monflanquin." <em>Info Bastide: Bulletin du Centre d'Étude des Bastides</em>, No. 33 (September 1996): 12.
</p>
<p>
    __________. "Monflanquin, Maisons de Bastide." <em>Le Festin</em> No. 31-32 (Autumn, 1999): 50-54.
</p>
<p>
    Gasparri, Françoise. <em>La Principauté d'Orange au Moyen Age</em>. Paris: Le Léopard d'Or, 1985.
</p>
<p>
    Gendre, Bernard. <em>Les Bastides du Sud-Ouest</em>. Versailles: U.P.A.-Versailles, 1983.
</p>
<p>
    Giry, A. "Bastide." <em>La Grande Encyclopédie.</em> Paris: H. Lamirault et Cie., 1888, 5:664.
</p>
<p>
    Review of Curie-Seimbres, <em>Essai sur les Villes Fondées dans le Sud-Ouest de la France....</em> In <em>Bibliothèque de l'École des Chartes</em>. Paris:
    Librairie d'Alphonse Picard, 1881, 42:451-460.
</p>
<p>
    Gisclard, Philippe and Nathalie Prat. <em>Les Bastides de l'Albigeois</em>. Toulouse: Diagram Editeur, 1994.
</p>
<p>
    Gisclard, Philippe and Nathalie Prat. <em>Les Bastides du Cominges et du Couserans</em>. Toulouse: Diagram Editeur, 1993.
</p>
<p>
    Given-Wilson, Chris. "England and its Neighbours." In Given-Wilson (ed.), <em>An Illustrated History of Late Medieval England.</em> Manchester: Manchester
    University Press, 1996.
</p>
<p>
    Guicharnaud, Hélène. <em>Montauban au XVIIe: 1560-1685, Urbanisme et Architecture</em>. Paris, Picard Éditeur, 1991.
</p>
<p>
    Guilaine, Jean, and Daniel Fabre. <em>Histoire de Carcassonne</em>. Toulouse: Éditions Privat, 1984.
</p>
<p>
    Gutkind, E. A. <em>Urban Development in Southern Europe: Spain and Portugal</em>. New York: Free Press, 1967.
</p>
<p>
    __________. <em>Urban Development in Western Europe: France and Belgium</em>. New York: Free Press, 1970.
</p>
<p>
    Heers, Jacques. <em>La Ville au Moyen Age en Occident: Paysages, Pouvoirs et Conflits</em>. [Paris]: Fayard, 1990.
</p>
<p>
    Higounet, Charles. "L'Arrière-pays de Bordeaux au XIII Siècle (Esquisse Cartographique). In Higounet, <em>Paysages et Villages Neufs du Moyen Age</em>.
    Recueil d'articles de Charles Higounet. Bordeaux: Féderation Historique du Sud-Ouest, 1975.
</p>
<p>
    __________. "Les Bastides du Périgord: une Révision." In <em>Recherches sur l'Histoire de l'Occupation du Sol du Périgord</em>. Paris: Editions du Centre
    National de la Recherche Scientifique, 1978: 101-110.
</p>
<p>
    __________. "Les Bastides en Question." In Higounet, <em>Villes, Sociétés et Économies Médiévales</em>. Recueil d'articles de Charles Higounet, 17-29.
</p>
<p>
    __________. "Bastides et Frontères." <em>Le Moyen Âge</em> 44 (1948): 113-130. __________. "Cisterciens et Bastides." <em>Le Moyen Age</em> 56 (1950):
    69-84.
</p>
<p>
    __________. "Eustache de Beaumarchais et les Bastides de Gascogne." In Higounet, <em> Villes, Sociétés et Économies Médiévales.</em> Recueil d'articles de
    Charles Higounet, 139-148.
</p>
<p>
    __________. "Nouvelle Approache sur les Bastides du Sud-ouest Aquitain." <em>Urbanisme</em> 101 (1967): 32-35.
</p>
<p>
    ---------------_"Nouvelles Réflexions sur les Bastides `Cisterciennes'." In Higounet, <em>Villes, Sociétés et Économies Médiévales.</em> Recueil d'articles
    de Charles Higounet, 149-155.
</p>
<p>
    <em>---------------Paysages et Villages Neufs du Moyen Age</em>
    . Recueil d'articles de Charles Higounet. Bordeaux: Féderation Historique du Sud-Ouest, 1975.
</p>
<p>
    __________. "La Place dans les Bastides Médiévales." In Higounet, <em>Villes, Sociétés et Économies Médiévales</em>, 51-63.
</p>
<p>
    ___________"Les Sauvetés de Moissac," <em>Annales du Midi</em> 75 (October 1963): 505-516.
</p>
<p>
    __________. <em>Vianne, Lot-et-Garonne</em>. Villefranche-de-Rouergue, Centre d'Études des Bastides, 1984.
</p>
<p>
    _____<em>Villes, Sociétés et Économies Médiévales.</em> Recueil d'articles de Charles Higounet. Bordeaux: Fédération Historique du Sud-Ouest, 1992.
</p>
<p>
    Hilton, R. H. <em>English and French towns in Feudal Society.</em> Cambridge: Cambridge University Press, 1992.
</p>
<p>
    Hiorns, Frederick R. <em>Town-Building in History.</em> London: Harrap, 1956.
</p>
<p>
    Hoare, Léon Jeffrey. <em>Castillonnès: Les Origines de la Bastide</em>. Centre d'Etude des Bastides: Villefranche-de-Rouergue, 1990.
</p>
<p>
    Jean, M.-C. <em>Monségur, Bastide Anglaise, 1265-1442.</em> Sainte-Foy-la-Grande: Office du Tourisme du Monségurais, 1985.
</p>
<p>
    Kibler, William W. and Grover A. Zinn, eds., <em>Medieval France: An Encyclopedia</em>. New York and London: Garland Publishing, Inc., 1995.
</p>
<p>
    Lacarra, José M. "El Dessarrollo Urbano de las Ciudades de Navarra y Aragón en la Edad Media," <em>Pirineos</em> VI (Enero-Junio 1950): 5-34.
</p>
<p>
    Lacoste, C. "Les Bastides de Béarn." <em>Bulletin de la Société des Sciences, Lettres et Arts de Pau</em>. 1971: 71-101.
</p>
<p>
    Lagrue, Jean-Philippe. "Les Bourgs Castraux en Basse-Provence Occidentale: Genèse et Organisation (XIe-XIIIe Siècles)." In Ghislaine Fabre, Monique
    Boaurin, Jacqueline Caille, and André Debord (eds.), <em>Morphogenèse du Village Médiéval (Ixe-XIIe Siècles)</em>. Montpellier (?): Association pour la
    Connaissance du Patrimoine du Languedoc-Roussillon, 1996, 97-111.
</p>
<p>
    Lasserre, Hubert. <em>La Bastide et le Canton de Villeréal en Haut-Agenais</em>. [Villeréal]: H. Lasserre, 1988.
</p>
<p>
    Laurent, Philippe. "La Place Couverte." <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):58-64.
</p>
<p>
    Lauret, Alain, Raymond Malebranche, and Gilles Séraphin. <em>Bastides: Ville Nouvelles du Moyen Age.</em> Toulouse: Milan, 1988.
</p>
<p>
    Lavedan, Pierre. <em>l'Histoire de l'Urbanisme</em>. Paris: Laurens, 1926, 1:281-369.
</p>
<p>
    __________,<em>Les Villes Françaises.</em> Paris: Editions Vincent, Fréal &amp; Cie., 1960.
</p>
<p>
    Lavedan, Pierre and Jeanne Hugueney. <em>l'Urbanisme au Moyen Age</em>. Geneva: Droz, 1974.
</p>
<p>
    Lavergne, Bruno. <em>Villes Neuves des XIII et XIV Siècles.</em> Versailles: U P.A.-Versailles, 1983.
</p>
<p>
Le Patourel, John. "The King and the Princes in Fourteenth-Century France." In J. R. Hale, J. R. L. Highfield, and B. Smalley,    <em>Europe in the Late Middle Ages</em>. Evanston: Northwestern University Press, 1965, 155-183.
</p>
<p>
    Leray, Jean-Pierre. <em>Chateaux Bastides Commanderies du Périgord.</em> Périgueux, Pierre Fanlac, 1976.
</p>
<p>
    Ligou, Daniel. <em>Histoire de Montauban</em>. Toulouse: Éditions Privat, 1984.
</p>
<p>
    Lodge, Eleanor C. <em>Gascony Under English Rule.</em> London: Methuen and Co., Ltd., 1926.
</p>
<p>
    L'Honneur, R. <em>Monpazier: Legis, Gens et Faits d'Autrefois</em>. Monpazier (?), n.p., n.d.
</p>
<p>
    Lilley, K. D. "Geometry and Medieval town Planning: a Reply," <em>Urban Morphology</em> 3, 111-114.
</p>
<p>
    "Taking Measures across the Medieval Landscape: Aspects of Urban Design before the Renaissance." <em>Urban Morphology</em> 2, 89-92
</p>
<p>
    Loirette, G. "La Charte de Coutumes de la Bastide de Créon." <em>Annales du Midi</em> 64 (1952): 283-295.
</p>
<p>
    Longnon, Auguste. <em>Atlas Historique de la France depuis César jusqu'à nos Jours.</em> 3 vols. Paris Hachette et cie, 1885-89.
</p>
<p>
    Macé, Laurent. <em>Les Comtes de Toulouse et Leur Entourage XIIe-XIIIe Siècles</em>. Toulouse: Privat, 2000.
</p>
<p>
    Magné, Jacques-René and Jean-Robert Dizel. <em>Les Comtes de Toulouse et leurs Descendants, les Toulouse-Lautrec</em>. Paris: Éditions Christian, 1992.
</p>
<p>
    Méras, Mathieu. "Beaumont-de-Lomagne." In Pierre de Fermat, <em>Toulouse et sa Région</em>. Toulouse: Féderation des Sociétés Académiques et Savantes de
    Languedoc, Pyrénées, Gascogne, 1966, 54-63.
</p>
<p>
    Morize, J. "Aigues-Mortes au XIIIe Siècle." <em>Annales du Midi</em> 26 (July, 1914): 313-348.
</p>
<p>
    Mot, G. J. <em>Carcassonne Ville Basse 1247-1962: Bastide Royale--Bonne Ville--Chef Lieu Dept.</em> Carcassonne: Édition Scientifiques de l'Aude, 1963.
</p>
<p>
    Mousnier, Mireille. "Bastides de Gascogne Toulousaine. Un Échec?" In <em>Villages et Villageois au Moyen Âge</em>. Paris: Publications de la Sorbonne,
    1992, 101-116.
</p>
<p>
    Mundy, John Hine. <em>Liberty and Political Power in Toulouse 1050-1230</em>. New York: Columbia University Press, 1954.
</p>
<p>
    Morris, A. E. J. <em>History of Urban Form</em>. New York: John Wiley &amp; Sons, 3rd ed., 1974.
</p>
<p>
    Moulins, Ch. des. "Esnades et Beaumont-du-Périgord, Analyse Comparative de deux Églises Fortifiées du XIVe Siècle." <em>Bulletin Monumental</em> 23 (1857):
    17-56.
</p>
<p>
    Nègre, Valérie and Marie-Lauare Petit. <em>Les Bastides du Quercy.</em> Toulouse: Diagram Editeur, 1995.
</p>
<p>
    Odo, G[eorges]. "Monflanquin: Bastide "Alphonsine-type" du Haut Agenais." Web document
    http://patrimoinemonflanquin.ifrance.com/patrimoinemonflanquin/interest.htm, September 10, 2001. (<em>Revue de l'Agenais</em> (Oct-Dec., 1995): 305-328.)
</p>
<p>
    Odon de Saint-Blanquat, "Comment se Sont Créées les Bastides du Sud-Ouest de la France," <em>Annales Économies, Sociétes, Civilisations</em> 4th Année, No.
    3 (Juillet Septembre 1949):278-289 (280-81).
</p>
<p>
    d'Oriola, Gabriel Jonquêres. "Labastide-d'Armagnac Urbanisme et Sauvegarde." <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):49-53.
</p>
<p>
    O'Shea, Stephen. New York: Walker &amp; company, 2000.
</p>
<p>
    Panerai, Philippe, Bernard Gendre, and Anne-Marie Châtelet. <em>Villes Neuves et Villes Nouvelles. </em> U.P.A.-Versailles, 1986.
</p>
<p>
    Parisse, Michel and Jacqueline Leuridan, <em>Atlas de la France de l'An Mil: État de nos Connaissances</em>. Paris: Picard Éditeur, 1994.
</p>
<p>
    Pawlowski, Krzysztof. "`Circulades' Languedociennes: Prototype de la Création Urbaine au Moyen Age." <em>Monuments Historiques</em>, No. 158
    (Août-Septembre 1988):4-7.
</p>
<p>
    Portal, Charles. <em>Cordes: Notice Historique et Archéologique</em>. 14th ed. Cordes: Société des Amis du Vieux Cordes, 1997.
</p>
<p>
    ______<em>Histoire de la Ville de Cordes (Tarn) (1222-1799)</em>. Cordes: Société des Amis du Vieux Cordes, 2nd ed., 1965.
</p>
<p>
    Prestwich, Michael. <em>Edward I</em>. New Haven: Yale University Press, 1997.
</p>
<p>
    Randolph, Adrian. "The Bastides of Southwest France." <em>The Art Bulletin</em> 77 (June 1995:290-307.
</p>
<p>
    Rey, Raymond. <em>L'Art Gothique du Midi de la France</em>. Paris: H. Laurens, 1934.
</p>
<p>
    Reyerson, Kathryn. "Fairs and Markets." In William W. Kibler and Grover A. Zinn, eds., <em> Medieval France: An Encyclopedia</em>. New York and London:
    Garland Publishing, Inc., 1995, 334-35.
</p>
<p>
    Royer, Jean. "Libourne: Étude d'Évolution de Ville, Chapitre Second. La Constitution de la Ville.--la Bastide." <em>Revue Historique de Bordeaux</em>.
    (May-June, 1924), No. 3, 123-142.
</p>
<p>
    Sablou, Jean. "Saint Louis et le Problème de la Fondation d'Aiguesmortes." In <em>Hommage à André Dupont</em>. Montpellier: Fédération Historique du
    Languedoc Méditerranéen et du Rousillon, 1974, 255-265.
</p>
<p>
    Saint-Blanquat, Odon de. "Comment se Sont Créées les Bastides du Sud-ouest de la France." <em> Annales Economies Sociétés Civilisations</em> 4
    (Juillet-Septembre 1949):278-289.
</p>
<p>
    Scrase, T. "Geometry and Medieval Town Planning: A Comment," <em>Urban Morphology</em> 3, 115.
</p>
<p>
    Shillaber, Caroline. "Edward I, Builder of Towns." <em>Speculum</em> 22 (July 1947):297-309.
</p>
<p>
    Slater, T. R. "Geometry and Medieval Town Planning." <em>Urban Morphology</em> 3, 107-11
</p>
<p>
    __________. "Planning Plots in Grenade-sur-Garonne." <em>Urban Morphology</em> 5, (web version).
</p>
<p>
    Smail, Daniel Lord. <em>Imaginary Cartographies: Possession and Identity in Late Medieval Marseille.</em> Ithaca: Cornell University Press, 1999.
</p>
<p>
    Soyer, Jacqueline. "Les Bastides et leur Parcellaire: Etude sur Photographies Aériennes." <em>La Vie Urbaine</em>, nouvelle série, No. 2 (Avril-Juin
    1960):81-88.
</p>
<p>
    Stewart, Cecil. <em>A Prospect of Cities: Being Studies Towards a History of Town Planning</em>. London: Longmans, 1952.
</p>
<p>
    Strayer, Joseph Rees. <em>The Albigensian Crusade</em>. New York: Dial, 1971.
</p>
<p>
    Sumption, Jonathan. <em>The Albigensian Crusade</em>. London: Faber &amp; Faber, 1978.
</p>
<p>
    Tauzin, J.-J.-C. "Les Bastilles Landaises et Leur Organisation Municipale du XIIIe au XVIIIe Siècle." <em>Revue des Questions Historiques</em> 69 (nouvelle
    Série, 25, 1901):456-517.
</p>
<p>
    Testut, L[eo]. <em>La Bastide de Beaumont en Périgord</em>. 2 vols. Bordeaux: Ferret et Fils, 1920.
</p>
<p>
    Teysseyre, Marie-Pierre. "Permanence et Souplesse du Parcellaire des Bastides." <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):13-16.
</p>
<p>
    Thatcher, Oliver J. and Edgar Holmes McNeal. <em>Europe in the Middle Age</em>. New York: Charles Scribner's Sons, 1920.
</p>
<p>
    Thorndike, Lynn. <em>The History of Medieval Europe</em>. Boston: Houghton Mifflin Company, 1917.
</p>
<p>
    Torres Balbas, Leopoldo, L. Cervera, F. Chueca, and P. Bidagor. <em>Resumen Histórico del Urbanismo en España</em>. Madrid: Instituto de Estudios de
    Administración Local, 1954.
</p>
<p>
    Tournerie, Guy. "Vallée du Dropt vers une Expérience Touristique Originale." <em>Monuments Historiques</em>, No. 158 (Août-Septembre 1988):54-57
</p>
<p>
    Tout, T. F. <em>Mediaeval Town Planning</em>. Manchester: Manchester University Press, 1934.
</p>
<p>
    Trabut-Cussac, Jean-Paul. "Bastides ou Forteresses?" <em>Le Moyen Age</em> 60 (1954):81-135.
</p>
<p>
    __________. "La Charte Anglaise des Coutumes de Villeneuve-du-Lot." <em>Revue de l'Agenais</em> 87 (1961):151-176.
</p>
<p>
    __________. "Créon, Bastide Administrative." <em>Annales du Midi</em> 66 (Octobre 1954): 343-348.
</p>
<p>
    Trigano, André and Louis Marette. "Mazères: Patrimoine et Économie Agricole et Touristique." <em> Monuments Historiques</em>, No. 158 (Août-Septembre
    1988):42-45.
</p>
<p>
    "Urbanism, Western European: Architectural Aspects." <em>Dictionary of the Middle Ages</em> 12:324.
</p>
<p>
    Urbain, Cassan. <em>Neuf Siècles de Batisseurs de Villes</em>. Paris: J.F. Verly, 1975.
</p>
<p>
    Vance, James E. Jr. <em>The Continuing City: Urban Morphology in Western Civilization</em>. Baltimore: The Johns Hopkins University Press, 1990.
</p>
<p>
    Vautier, E. and Mathieu, J.R. <em>Essai Historique sur Eymet</em>. Eymet: Syndicat d'initiative, 1976.
</p>
<p>
    Verdier, Aymar and F. Cattois. <em>Architecture Civile et Domestique au Moyen Age et la Renaissance</em>. 2 vols. Paris: A Morel et Ce., 1864.
</p>
<p>
    Verneilh, Felix de. "Architecture Civile au Moyen Age dans le Périgord et le Limousin." <em> Annales Archéologiques</em> 6 (1847):71-88.
</p>
<p>
    __________. "Architecture Civile du Moyen Age: Ville Neuves du XIIIe Siècle et de la Renaissance." <em>Annales Archéologiques</em> 11 (1851):335-346.
</p>
<p>
    Viollet-le-Duc, Eugène-Emmanuel. <em>Dictionairie Raissonné de l'Architecture Française, du XI to XVI Siècle</em>. Paris, 6 vols, 1854-1889.
</p>
<p>
    Voinchet, Bernard. "Montauban: une Ville `Créée' a Conservé son Image Originelle." <em> Monuments Historiques</em>, No. 158 (Août-Septembre 1988):17-32.
</p>
<p>
    Wakefield, Walter L. <em>Heresy, Crusade and Inquisition in Southern France, 1100-1250</em>. London: Allen and Unwin, 1974.
</p>
<p>
    Weis, René. <em>The Yellow Cross: The Story of the Last Cathars, 1290-1329</em>. New York: Alfred A. Knopf, 2001.
</p>
<p>
    Williams, Emile Francis. <em>Undiscovered France</em>. Boston: Houghton Mifflin Company, 1927.
</p>
<p>
    Wolff, Philippe, and Jean Dieuzaide. <em>Voix et Images de Toulouse</em>. Toulouse: Privat, Éditeur, 1962.
</p>
<%= render '/pages/top' %>

<h3 id="web">Web Resources</h3>
<p><a href="https://en.wikipedia.org/wiki/Bastide">English-language Wikipedia entry for "bastide"</a></p>
<p><a href="https://fr.wikipedia.org/wiki/Bastide_%28ville%29">French Wikipedia article, "Bastide"</a></p>
<p><a href="https://fr.wikipedia.org/wiki/Liste_de_bastides">French Wikipedia list of bastides</a></p>
<p><a href="https://fr.wikipedia.org/wiki/Cat%C3%A9gorie:Bastide_m%C3%A9di%C3%A9vale">French Wikipedia Catégorie: Bastide médiévale</a></p>
<%= render '/pages/top' %>