<div class="row">
	<div class="col-sm-9">
		<h2>About the Collection</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<p>[Brief intro - needs to be written]</p>
<h3>Non-Bastide Additions</h3>
<p>Images of a few places on this site &mdash; perhaps not themselves bastides &mdash; have been included because they are so intimately related to the bastide movement. <a href="/cordes">Cordes</a>, for example, was never referred to as a bastide at the time of its founding, has few of the physical characteristics associated with the bastide phenomenon, and was known at the time as a “castrum,” or fortress town. But this was Raymond VII’s first effort at town planning and &mdash; like the bastides &mdash; was influenced by events of the Albigensian crusade and war.</p>
<p><a href="/?_=1448903877083&f%5Blocation_facet_tesim%5D%5B%5D=Aigues-Mortes&view=maps">Aigues Mortes</a> has many of the physical features of the bastides and was planned at the beginning of the bastide era.  It, however, was located well to the east of the bastide region and was built by Louis IX of France as a port town on the Mediterranean from which crusading armies could depart for the Holy Land.</p>
<p>French authorities are still arguing about whether or not <a href="/?_=1448903877086&f%5Blocation_facet_tesim%5D%5B%5D=Duras&view=maps">Duras</a> was a bastide.  The little grid extending to one side of the castle may or may not have been added  as an extension of the castle or as a bastide with some or all of the features of limited self-government enjoyed by other bastides.</p>
<h3>Project Credits</h3>
<p>Project coordination and development by <a href="http://dcaps.library.cornell.edu">Digital Consulting and Production Services (DCAPS)</a>.</p>
<p>Digitization: Rhea Garen, John Reps</p>
<p>Metadata &amp; Geo-referencing: Eirva Diamessis, Hannah Marshall</p>
<p>UX, Web Design and Programming: Manolo Bevia, Jenn Colt, Jim Reidy, Melissa Wallace</p>
<p>Project Management: Danielle Mericle</p>
<p>Project Sponsor &amp; Advisor: Marsha Taichman</p>
