<div class="row">
	<div class="col-sm-9">
		<h2>About the Collection</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<p>[Brief statement about the collection  - needs to be written]</p>

<h3>Project Credits</h3>
<p>Project coordination and development by <a href="http://dcaps.library.cornell.edu">Digital Consulting and Production Services (DCAPS)</a>.</p>
<p>Digitization: Rhea Garen, John Reps</p>
<p>Metadata &amp; Geo-referencing: Eirva Diamessis, Hannah Marshall</p>
<p>User Experience Design and Web Programming: Manolo Bevia, Jenn Colt, Jim Reidy, Melissa Wallace</p>
<p>Project Management: Danielle Mericle</p>
<p>Project Sponsor &amp; Advisor: Marsha Taichman</p>