<%= content_for :page_title, 'Cologne - John Reps Bastides Collection' %>
<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Cologne</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/catalog?_=1446663894513&f%5Blocation_facet_tesim%5D%5B%5D=Cologne&view=maps" class="btn btn-bastides btn-lg">Browse Cologne</a>
</div>
<p>Among the many bastides bearing names of important Italian and Spanish towns (Pavie, Bologna, Barcelonne, Grenade, Bruges, etc.) Cologne stands out as one of the few--perhaps the only--to be named after a German city. This replaced the name "Sabolène," one apparently agreed on by its founders, Eustache de Beaumarchais, senechal of Philippe III, and a local lord and landowner, Otton de Terride. Following the usual ceremony to launch the town in 1284, residents began to build their houses, and three years later received their charter of rights and privileges.</p>
<p>The plan consists of nine square blocks arranged in a simple 3 x 3 pattern. As in many other bastides of Gascony the church was located in the second block removed from the marketplace, and it thus stands at the very edge of town. Substantial portions of its fourteenth century facade have survived, although in general the building is much rebuilt and altered from its original form.</p>
<p>Cologne never succeeded in attracting a large population, perhaps in part because at the outset of development, another lord with extensive property holdings claimed to have rights in the site. But if Cologne remained small and consists of little more than the eight blocks facing its marketplace or touching it by one corner, it is surely one of the most attractive of the bastides. Many fine stone and half-timbered houses and shops, each with its section of the arched or post and beam arcades intact, enclose the square.</p>
<p>In its center and occupying most of the space is the <em>halle</em> whose origins go back to the fourteenth century. Its red-tiled roof is supported at each corner by a stone column, with sturdy wooden posts and diagonal braces located along each side. In the center a structure extends above the roof line to provide a room where the local law-makers met. Below, on the ground floor, was the bastide jail. As in other bastides, weekly markets are still held in the shelter of this building, although the ancient, stone grain measures along one side of the jail are no longer used.</p>
<p>Beyond the northern tier of blocks is the remnant of what must have been a moat surrounding the town. Here, too, are traces of the wall that was once part of the bastides fortifications. Portions of this now form the rear walls of the buildings facing the marketplace. The community wash house can also be seen here, and it seems likely that the present simple structure on the inner bank of the moat occupies the site of its ancestors.</p>