<%= content_for :page_title, 'Contact - John Reps Bastides Collection' %>

<div class="row">
	<div class="col-sm-9">
		<h2>Contact</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<p>For questions, comments or feedback about this collection or this website, please contact:</p>
<p><a href="http://dcaps.library.cornell.edu">Digital Consulting and Production Services (DCAPS)</a><br>
	Cornell University Library<br>
	<a href="mailto:dcaps@cornell.edu">dcaps@cornell.edu</a></p>