<h2>Project Credits</h2>
<p>Project coordination and development by <a href="http://dcaps.library.cornell.edu">Digital Consulting and Production Services (DCAPS)</a>.</p>
<p>Digitization: Rhea Garen, John Reps</p>
<p>Metadata &amp; Geo-referencing: Eirva Diamessis, Hannah Marshall</p>
<p>User Experience Design and Web Programming: Manolo Bevia, Jenn Colt, Jim Reidy, Melissa Wallace</p>
<p>Project Management: Danielle Mericle</p>
<p>Project Sponsor &amp; Advisor: Marsha Taichman</p>