<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Domme</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/?_=1446665773722&f%5Blocation_facet_tesim%5D%5B%5D=Domme&view=maps" class="btn btn-bastides btn-lg">Browse Domme</a>
</div>
<p>Domme was planned on a site atop a high, rocky promontory, one side of which drops almost vertically to the Dordogne River far below. In 1281 Simon de Melun, a royal senechal, bought the eastern end of the ridge on behalf of King Philippe III, and under his direction surveyors laid out a grid of streets with the marketplace and church site placed on flat land near the edge of the cliff. East-west streets are generally level or gently sloping as they follow the contours, but the streets crossing these and leading south from the central blocks slope sharply downward.</p>
<p>This bastide is famous for its fortifications. Its main entrance through the <em>Porte des Tours</em> leads one through a massive structure flanked by two great, drum-shaped towers of stone. Two other entrances lead through walls on the east and south. By 1310 the fortifications were completed, but what can be seen today doubtless includes many later changes.</p>
<p>Facing the marketplace on the highest elevation of the site is the <em>halle</em>, a building first erected in the seventeenth century but completely rebuilt in 1954. It now houses a tourist attraction: the entrance to an extensive cavern below this part of the town. Facing the <em>halle</em> is the <em>hôtel du Gouverneur</em>, a fortress-like building with tower and turrets whose seventeenth century facade hides and expands on the original building erected two centuries earlier. The church, also substantially rebuilt in the seventeenth century, stands nearby.</p>
<p>Another important open space is the triangular Place de la Rode (“Wheel Square”), supposedly where prisoners were tortured on the wheel before execution. It is also the place where annual fairs were held. Facing the square and located nearby are many handsome buildings constructed, as are most of the bastides, of a warm ochre-colored stone.</p>
<p>This is the location of the oldest house of the bastide, a handsome structure known as “Maison du Batteur de Monnaie,” or the house of the director of the king’s mint. One can see arched or rectangular window openings framed by skillfully carved moldings. Clearly the residents of Domme, or at least those who lived along the principal streets, were persons of some wealth.</p>
<p>In addition to its main streets and cross streets Domme has a well-developed system of lanes or <em>ruelles</em>. Some are bridged by <em>pontets</em>, or rooms extending across the lane at the second floor level. Because of the steepness of Domme’s site, one of these lanes consists entirely of a long flight of stairs.</p>