<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Labastide d'Armagnac</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/?_=1446663894511&f%5Blocation_facet_tesim%5D%5B%5D=Labastide+d%27Armagnac&view=maps" class="btn btn-bastides btn-lg">Browse Labastide d'Armagnac</a>
</div>
<p>The count of Armagnac, Bernard VI, reached an agreement in 1291 with Arnaud Guillaume de Mauvezin to found a bastide on the latter's land along the river Douze. This area then being within the jurisdiction of Edward I, king-duke of Aquitaine, his senechal, Jean de Grailly, also became involved in fashioning the <em>contrat de pareage</em> and in conferring the important charter of rights and privileges (<em>charte de</em> Coutumesl) five years later.</p>
<p>Probably an existing road running northwest-southeast determined the orientation of the bastide. The main street of the town connecting to the surrounding countryside takes this alignment and forms the northeast side of the arcaded market square. Other bastide streets and lanes run parallel or perpendicular to it, forming blocks that while rectangular in form are not of uniform size.</p>
<p>Like some bastides in this part of the bastide region, the church of Notre Dame faces directly on the marketplace. Begun in the thirteenth century, this church was extensively modified two centuries later. With its massive tower, reinforced by buttresses at each corner, this was obviously intended as a fortified strongpoint to which the residents could gather at times of danger.</p>
<p>Marketplace arcades continue for short distances along streets leading from three of the four corners. Rounded arches of brick or stone and others of timber post and beam construction alternate irregularly. Above the arcades one sees a variety of facades, many of them half timbered. The long southwest side of the marketplace is almost a catalog of pre-twentieth century architectural styles.</p>
