<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>La Bastide-Clairence</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/?_=1446840932019&f%5Blocation_facet_tesim%5D%5B%5D=La Bastide-Clairence&view=maps" class="btn btn-bastides btn-lg">Browse Labastide Clairence</a>
</div>
<p>The plan of this linear bastide differs from all but a few others in that the principal street, rue Notre-Dame, enters the elongated marketplace at the middle of its two shorter sides. This main thoroughfare follows the sloping line of a narrow ridge defined by a river and a smaller stream. Short streets crossing at right angles lead to two other streets, one on either side of the main axis of the town. These seem to have been added at some date after the original plan was established. Two of the five cross streets lead outward from the corners of the market, here known as <em>la Place aux Arceaux</em>.</p>
<p>This bastide is also unusual in that the impetus for its development came from the kingdom of Navarre whose jurisdiction at the end of the thirteenth century extended north of the Pyrenees as far as this site on the Aran river, one of the three main tributaries of the Adour. Although Louis I, king of Navarre conferred the bastide's charter in 1312, two years before he became Louis X of France, one of the most reliable sources of bastide history states that the town was founded by Marguerite-Mathilde, countess of Foix-Béarn.</p>
<p>This is in a part of the bastide region in which Basque influence predominates in the appearance of buildings. The majority of the stucco facades are white with red shutters and doors and with that color also emphasizing the exposed wooden structural members of half-timbered buildings. On a sunlit day the houses and shops seem to glow with light and energy, and at mid-day the only shade is provided by the stone arcades lining the two long sides of the marketplace. At the upper end of the sloping site is the church surrounded by its now crowded burial ground.</p>
