<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Marciac</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/?_=1446665871064&f%5Blocation_facet_tesim%5D%5B%5D=Marciac&view=maps" class="btn btn-bastides btn-lg">Browse Marciac</a>
</div>
<p>This bastide is of royal ancestry, created in 1298 for the king of France by his senechal, Guichard de Marciac, from whom the bastide received its name. However, Marciac acted only after receiving a request to do so from the abbot of the monastery of La Case Dieu and the count of Pardiac. The count and the abbot hoped to provide a place secure from the brigands who roamed the area, raiding the countryside, and sometimes capturing people to hold for ransom.</p>
<p>Their town plan was a regular grid of twenty-five blocks arranged in a 5 x 5 pattern. Because the three east-west tiers of blocks were only half the width of the two outer tiers, the bastide is not square but rectangular. Four main streets define the boundaries of the marketplace. This is unusually large, measuring almost 250 by 430 feet. A system of minor streets parallel and perpendicular to the central four complete the grid system. Unlike some other bastides, the Marciac plan has no lanes or alleys.</p>
<p>The <em>halle</em> or market building that once occupied the center of the marketplace was destroyed in the nineteenth century. Near its location is a unique feature: the text of the original charter in huge Latin letters on the market pavement. Every Wednesday, as has been true for centuries, the central square becomes alive with the weekly market. In addition to the usual small market stalls offering a variety of foodstuffs, clothing, and household articles, large vans and trucks selling a variety of merchandise and produce can be accommodated in this huge space.</p>
<p>In addition to the open space of the square for display of goods for sale, there are the very long arcades extending the full length of the 450-feet north and south sides of the marketplace. Even the two shorter side offer another 500 feet of protected retail space. Perhaps the best place to observe this is from the upper floors of the <em>Marie</em>, or city hall, located in the center of the long south side of the marketplace.</p>
<p>Like many of the other Gascon bastides the parish church of Notre Dame stands on a site two blocks away from the marketplace. Portions of its walls date from the fourteenth century, although its lofty spire is a nineteenth century addition. Adding to the skyline is the nearby fourteenth century belfry of a former Augustinian monastery, the doorway to which provides the entrance to the offices of the annual jazz festival. A life-size portrait statue of Louis Armstrong, the American jazz musician stands nearby.</p>