<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Monflanquin</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/catalog?_=1446840932021&f%5Blocation_facet_tesim%5D%5B%5D=Monflanquin&view=maps" class="btn btn-bastides btn-lg">Browse Monflanquin</a>
</div>
<p>Whoever planned Monflanquin for Alphonse de Poitiers in 1252 was apparently convinced of the wisdom of gridiron planning no matter what the site might be. Thus, the rounded and at places steeply sloping hilltop chosen for this bastide was branded with an unyielding grid of streets. Only the egg-shaped perimeter of the town reflected the topography.</p>
<p>This disregard for the natural contours is most obvious at the square marketplace. Along the south side a retaining wall separates the surface of the square from the pedestrian level within the arcade below the overhanging floors of buildings lining that side of the square. The east and west arcades are in effect gigantic partly enclosed stairways. Below the marketplace streets have slopes of 12% or more.</p>
<p>The church occupies the highest spot in the bastide, a site already in use before the town was created. This explains its diagonal orientation with respect to the rigid grid of the streets and its location a short distance up one of the streets leading off the square's corner. The bell tower, although appearing as if it might be centuries old, in reality dates only from 1923. Like so many bastide churches, this one has been substantially modified over the years. At one time its apse formed part of the town wall, but that was rebuilt following a fire in 1569. The church cemetery immediately to the north was converted to the present parking lot after the buried remains were moved to a more spacious location outside the perimeter of the town.</p>
<p>The building facing the square at the corner leading to the church is one of the town's most impressive. A single, pointed arch opens to the square on the ground floor, and two handsome Gothic windows provide light to the second floor below the third floor attic story. This is said to be the house of the Black Prince, built in the late thirteenth or early fourteenth century when the English controlled the bastide.</p>
<p>Its neighbor at the corner of St. Mary Street and the Street of the Arcades is a large, three-story stone building of the late thirteenth century. One can see several large archways, now filled in, that once must have provided access to one or more ground-floor shops. The upper floors, used originally for residential purposes, are now a kind of catalog of window types popular at different periods.</p>