<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Revel</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/catalog?_=1446840932026&f%5Blocation_facet_tesim%5D%5B%5D=Revel&view=maps" class="btn btn-bastides btn-lg">Browse Revel</a>
</div>
<p>Revel's outstanding feature is its marketplace whose four arcaded sides face the splendid <em>halle</em> in the center of the square. It was originally erected in the fourteenth century, but the version that one sees today is a restoration in 1834 after a fire destroyed the building five years earlier. That part of the building extending above the tile roof accommodates a jail and the meeting place of the town government. Above its roof rises the cupola and a clock, added in 1843.</p>
<p>This building stands in the center of a square marketplace that itself is the center of the original town. The grid of straight streets intersecting at right angles extended two blocks away in all four directions to the octagonal perimeter that was defined by a ditch and palisade. The orthogonal street pattern was later continued beyond this line of fortifications whose site today provides a ring road around the blocks of the early town.</p>
<p>Revel was a late foundation, created only in 1342 by a charter granted by Philip VI that contained particularly generous grants of authority to the townspeople. Among other provisions, it allowed residents to nominate the person who would sit as the judge of cases normally reserved for the direct representative of the crown. The charter also specified that the town should be provided with a cemetery, church, several chapels, and reserved several acres of land for charitable institutions.</p>