<%= content_for :page_title, 'Saint-Felix Lauragais - John Reps Bastides Collection' %>
<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Saint-Felix Lauragais</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/catalog?_=1452711634621&f%5Blocation_facet_tesim%5D%5B%5D=Saint-Felix+Lauragais&view=maps" class="btn btn-bastides btn-lg">Browse Saint-Felix Lauragais</a>
</div>
<p>Because the charter has not survived, the exact date of the bastide's founding is not clear, but it appears to be sometime in the second half of the thirteenth century. Possibly it was created by Eustache de Beaumarchais, the royal senechal who was so active in bastide formation. This small, linear bastide has an unusual street pattern. Two main streets define the east and west sides of the market square, but except for a very narrow and short lane leading off the northwest corner of the square, the four corners of the square 165-foot square space are defined only by the two streets and buildings lining its sides.</p>
<p>There is a small <em>halle</em> in the center of the square whose upper floor provided a room for the consuls to meet. At building's southwest corner is an unusual bell tower. The buildings around the square lack the arcades that are so often found in bastides. Topography played a part in shaping the plan, for the site lies atop a narrow ridge rising a few hundred feet above the surrounding countryside. The bastide adjoined an early castle that was in existence by the middle of the twelfth century and that fell in 1211 to northern crusaders in the army led by Simon de Montfort in the war against Catharism. The present chateau of fifteenth and sixteenth century construction occupies the site of the earlier building, but its square tower, nearly 180 feet high, was pulled down during the Revolutionary years.</p>
<p>Dominating the skyline of this compact and modest-sized bastide is the octagonal, Toulousian-type tower and sharply-pointed spire of the collegial church of Saint-Félix. Work began on this impressive building in the fourteenth century, but it was extensively rebuilt after being damaged by fire two hundred years later.</p>