<%= content_for :page_title, 'Sauveterre-de-Rouergue - John Reps Bastides Collection' %>
<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Sauveterre-de-Rouergue</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/catalog?_=1447792572081&f%5Blocation_facet_tesim%5D%5B%5D=Sauveterre-de-Rouergue&view=maps" class="btn btn-bastides btn-lg">Browse Sauveterre-de-Rouergue</a>
</div>
<p>This bastide, located to the west of the main route connecting Rodez and Albi, is one of the best preserved and least affected by modern development and influences. Its plan consists of nine rectangular blocks arranged in a 3 x 3 pattern, with the central one left open. Forming the edges of this marketplace are four unbroken lines of arcades. Their arched openings look out on a space more than two hundred feet long and about one hundred thirty-five feet wide.</p>
<p>The four main streets of the town, now dedicated for pedestrian use except during limited hours when delivery vehicles are permitted, lead under these arcades. The other eight blocks of the town were provided with <em>ruelles</em> or narrow lanes that allowed access to the rear of every town lot. A slightly wider but still narrow street leads from the center of one of the long sides of the marketplace to the entrance to the church. This axial connection between church and marketplace is certainly uncommon among the bastides and may be a unique example.</p>
<p>Founding and perhaps planning the bastide in 1281 was the task of the French king's senechal of Rouergue, Guillaume de Vienne et de Macon. He also was responsible for building the walls that were necessary to protect the residents of this isolated location from bands of outlaws. Four gates provided access to the streets that met at the center to define the edges of the marketplace.</p>
<p>With only a sparse population in the immediate region and isolated from the line of bastides extending from Cordes through Villefrance-de-Rouergue to Villeneuve d'Aveyron to the west, Sauveterre-de-Rouergue was not a commercial success. It did serve as a minor administrative center, but its population never exceeded a few hundred persons.</p>
