<%= content_for :page_title, 'Villeneuve d\'Aveyron - John Reps Bastides Collection' %>
<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Villeneuve d'Aveyron</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/catalog?_=1447792572086&f%5Blocation_facet_tesim%5D%5B%5D=Villeneuve+d%27Aveyron&view=maps" class="btn btn-bastides btn-lg">Browse Villeneuve d'Aveyron</a>
</div>
<p>This is one of a substantial number of bastides that began as a sauveté--in this case one jointly created in the eleventh century by the bishop of Rodez and the abbey of Moissac. Eight years after he founded Cordes and in the year following the treaty that ended the Albigensian Crusade, VII, count of Toulouse conferred a charter in 1230 that transformed the settlement into a bastide. it was later further extended under Alphonse de Poitiers.</p>
<p>The plan of Villeneuve d'Aveyron lacks the clarity of other bastides, possibly because the original sauveté developed without the geometric order that one finds in bastides built on vacant sites. At Villeneuve d'Aveyron, even the extension to the east laid out after its change of status in 1230 lacks the right-angled intersections so often encountered. This addition consists of a single street with six short, straight streets leading off the new axis, all at slightly different angles and thus not parallel.</p>
<p>Near the end of this linear layout and a short distance inside the gate tower is the marketplace, departing from the norm in not being centrally located. Its north and west sides still have arcades that perhaps once existed along all of the facades. Yet it is in just such places that one appreciates the beauty of the irregular and the architectural surprises that may be--and often are--around each bend or corner of streets that widen and narrow seemingly without reason. Several of the houses date from the thirteenth to fifteenth centuries, there are two fifteenth century gates, and the nave, choir, and octagonal tower of the Church of the Holy Savior are of fourteenth century origin.</p>