<div class="row">
	<div class="col-sm-9">
		<%= render '/pages/back_bastides' %>
		<h2>Villefranche du Perigord</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>
<div class="pull-right">
	<a href="/?_=1447792572086&f%5Blocation_facet_tesim%5D%5B%5D=Villefranche-du-Périgord&view=maps" class="btn btn-bastides btn-lg">Browse Villefranche du Perigord</a>
</div>
<p>Guillaume de Bagnols, Alphonse de Poitiers's senechal for the Agenais and Quercy, chose the site for this bastide in 1261. On the flat top of a long, narrow ridge overlooking the Lémance River he laid out a linear grid consisting of four main streets and one of lesser width running northwest-southeast. More widely-spaced minor streets crossing at right angles created long, narrow blocks shaped much like the bastide itself. The bastide planners placed the marketplace near the western end of the town, possibly because existing north-south roads crossed the ridge at this point.</p>
<p>The configuration of the market square and its access streets differs from the norm. Although, as usual, streets enter at the four corners, in this bastide the central main street also leads into the square at the midpoints of its east and west sides. In and facing the square, buildings of different ages and styles come together to create a harmonious composition of what might be regarded as accidental urban design.</p>
<p>The <em>halle</em>, with its stone Tuscan pillars supporting the timberwork roof and with its iron grain measures mounted on a stone platform, probably echoes in its appearance one built in the thirteenth century. Today's market shelter, however, is a building of the nineteenth century. From the <em>halle</em>, one looks out on building facades stretching along one of the major streets. Those facing the <em>halle</em> still retain the arcades that were probably part of the original design. The corner building, now a hotel, with the two arches of its facade tells us that at some time in the past two adjoining lots came into single ownership. Before that time the houses must have resembled those to the east with their gable ends facing the street and each separated from its neighbor by <em>andrones</em>.</p>
<p>On the west side of the square and occupying the width of one of the narrow blocks is the <em>marie</em> or town hall. From its steps one looks across the marketplace to the parish church with its two towers flanking the round arched entrance above which the central bell tower provides a visual punctuation mark. This resembles no other bastide church, for its neo-classical style was the work in 1855 of Paul Abadie, famous for his later and much larger basilica of Sacré-Coeur in Paris.</p>

