<%= content_for :page_title, 'A Word About Words - John Reps Bastides Collection' %>
<div class="row">
	<div class="col-sm-9">
		<h2>A Word About Words</h2>
	</div>
	<%= render '/pages/about_menu' %>
</div>

<h3>Bastide — The Word and Its Meanings</h3>
<p>The word <em>bastide</em> comes from the same root that produced the word <em>bastille</em>. Earlier in the Middle Ages a  bastide was the name for a wooden structure that could be moved by attackers to provide protection in assaulting a castle or fort. Over time the meaning changed to designate a temporary device used to strengthen a castle or fort against attackers.</p>
<p>For reasons that are far from clear, <em>bastide</em> came to be used in southwestern France in contracts between the founding lord of new town and whoever controlled the site. Typically that document, whether in Latin or Occitan, used some version of the phrase, <em>“bastida seu nova  populationes”</em> (bastide or new population center).</p> 
<p>Warning: the word <em>bastide</em> is now also commonly used east of the Rhone River in the  Province region of France to identify a country house that might also be a simple bed and breakfast or a more elaborate rural inn.</p>

<p>At one time many bastides had (and some retain) a special type of arched opening at the corners of the marketplace. This allowed carts, wagons, and animals direct access to the market square without disrupting foot and wheeled movement passing through the arcades along its sides.  This feature was called a <em>corniere</em>.  At some time in the past this word came to be applied in some bastides to the arcades themselves.</p>
<p>In other bastides the arched or post and beam enclosures along the sides of the marketplace are known as the <em>couverts</em>. Still other bastides use <em>cornieres</em>, <em>ambans</em>, or <em>arcades</em> to refer to this distinctive feature. Thus, a visitor seeking the marketplace in one town may find an arrow pointing to the <em>place des arcades</em>, while elsewhere finding direction signs leading to the <em>place des cornieres</em>, the <em>place des ambans</em> or the <em>places des arcades</em>.</p> 
