<div class="pull-right slide-number">
	5
</div>
<p>At the beginning of the 13th century the Count of Toulouse and the Duke of Aquitaine ruled this area. In 1229, after a 20-year crusade and religious war, the French crown took possession of a large part of the County of Toulouse. The Count was forced to destroy all fortifications protecting his towns, allow forces of the King of France to occupy the chief cities, and agree not to build new fortified places.</p>
<div class="well">
	<div class="row">
		<div class="col-sm-6">
			<%= image_tag "about/4a.png" , alt: "", class: "img-responsive" %>
		</div>
		<div class="col-sm-6">
			<%= image_tag "about/4b.png" , alt: "", class: "img-responsive" %>
		</div>
	</div>
</div>