<div class="pull-right slide-number">
	4
</div>
<p>Red dots added to this 17th-century map of southwestern  France locate 100 bastides then known to the map maker. More than 300 and possibly as many as 500 once existed in this region. </p>
<div class="well">
	<%= image_tag "about/3crop.png" , alt: "", class: "img-responsive" %>
</div>