<div class="pull-right slide-number">
	12
</div>
<p class="lead">Learn more <a href="/about">about bastides</a>, or <a href="/?&view=maps">browse the full collection</a>.</p>
<p>Images of a few places on this site—perhaps not themselves bastides--have been included because they are so intimately related to the bastide movement.  Cordes, for example, was never referred to as a bastide at the time of its founding, has few of the physical characteristics associated with the bastide phenomenon, and was known at the time as a “castrum,” or fortress town. But this was Raymond VII’s first effort at town planning and—like the bastides—was influenced by events of the Albigensian crusade and war.</p>
<p>Aigues Mortes has many of the physical features of the bastides and was planned at the beginning of the bastide era.  It, however, was located well to the east of the bastide region and was built by Louis IX of France as a port town on the Mediterranean from which crusading armies could depart for the Holy Land.</p>
<p>French authorities are still arguing about whether or not Duras was a bastide.  The little grid extending to one side of the castle may or may not have been added  as an extension of the castle or as a bastide with some or all of the features of limited self-government enjoyed by other bastides.</p>