<div class="pull-right slide-number">
	10
</div>
<p>More than 700 years after their founding bastides continue to hold weekly markets for the sale of locally produced farm products and the work of artisans and craftsmen. In about fifty bastides buying and selling takes place in market build-ings (halles), several of which include an upper level chamber where the local governing body once held its meetings. Else-where, temporary stalls and shelters fill the marketplace.</p>
<div class="well">
	<div class="row">
		<div class="col-sm-4">
			<a href="/catalog/ss:3851645"><%= image_tag "about/10a.png" , alt: "", class: "img-responsive" %></a>
		</div>
		<div class="col-sm-4">
			<a href="/catalog/ss:3852196"><%= image_tag "about/10b.png" , alt: "", class: "img-responsive" %></a>
		</div>
		<div class="col-sm-4">
			<%= image_tag "about/10c.png" , alt: "", class: "img-responsive" %>
		</div>
	</div>
</div>