<div class="pull-right slide-number">
	8
</div>
<p>Kings of England (who in France were the Dukes of Aquitaine) ruled the large domain to the west. They began to create similar new towns, as did the French crown. Local rulers (viscounts and viscountesses) of lesser feudal domains also founded new towns.  
</p>
<div class="well">
	<div class="row">
		<div class="col-sm-4">
			<%= image_tag "about/7a.png" , alt: "", class: "img-responsive" %>
		</div>
		<div class="col-sm-4">
			<%= image_tag "about/7b.png" , alt: "", class: "img-responsive" %>
		</div>
		<div class="col-sm-4">
			<%= image_tag "about/7c.png" , alt: "", class: "img-responsive" %>
		</div>
	</div>
</div>