<div class="pull-right slide-number">
	1
</div>
<h3>Where These Images Came From</h3>
<p>I first learned about bastides–the newly planned towns of the late Middle Ages in southwestern France--in courses on urban planning at Dartmouth and Cornell.  So, when in southern France during the summer of 1951 after a Fulbright year abroad, I naturally wanted to visit and photograph them.</p>
<p>My wife and I had a travel budget of $10 a day, and color film and processing seemed an expensive luxury.  This explains why my earliest visual records of the castle town of Cordes and the bastides of Monpazier, Beaumont du Perigord and Villefranche de Rouergue are limited to a handful of images.</p>
<p>A sabbatical year in The Hague in 1965-66, offered an opportunity for a more systematic visual documentation of these towns.  From the history of town planning by the French authority, Pierre Lavedan, I traced twenty or so plans of the larger and more important bastides and mapped out a route through the bastide region.</p>
<p>My wife sketched and kept notes during that summer of early daylight and late sunsets as we visited and photographed more than 40 bastides. I was then using a 35mm Exacta single lens reflex camera with Zeiss lenses loaded with 35mm Kodachrome film (ASA 10!).  I also had a medium format Ricoflex twin-lens reflex camera with slightly faster Kodak Panatomic X fine-grained black and white film.</p>
<p>From Ray Delvert, a pilot-photographer in Villeneuve-sur-Lot whose office we visited, I acquired a dozen black and white aerial oblique images of bastides.  A few years later on another trip to France I ordered ten vertical photographs of bastides from the Cliche du Centre de Documentation de Photographies Aeriennes in Paris.</p>
<p>Designing and mounting an exhibit of these images in 1998 for a Cornell conference on the planning of new towns renewed my interest in the subject, and we returned to the bastide region in 1999 and 2001.  Finally, sadly alone this time, I spent nearly three weeks in 2009 returning to many places visited on earlier trips but also exploring another dozen or so bastides not previously seen or photographed.  On these latter visits I used both film and digital Olympus and Pentax 35mm cameras with a variety of standard and  zoom lenses.</p>
<p>On that last trip, as on others, I relied on detailed Michelin maps of the various parts of the bastide region.  On another Michelin map showing the entire area I circled those bastides considered by a group of French authors of bastide guides most worth a visit. Nearly all of these–along with many others are represented by photographs in this collection.</p>
<p>Now at 94 time is running out for me.  Before that happens I want to make available to others the images of these unusual and exceptionally interesting places that have given me such pleasure to observe and study for more than 60 years.</p>
 
<p>John W. Reps<br>
Professor Emeritus<br>
Cornell University</p>