<div class="well home-text">
  <p><strong>Cornell Professor Emeritus John Reps</strong> traveled to and explored the planned towns, or Bastides, in the southwest of France in [these years]. These are the resulting images from his travels, which show how these places have changed over time. <small><a href="/collection">More <i class="fa fa-chevron-right"></i></a></small></p>
</div>