<div class="well home-text">
  <p><strong>Bastides</strong> are planned towns of southwestern France founded in the 13th and 14th centuries by kings, dukes, and counts who sought to develop their domains and increase  revenues by creating new market centers and places of trade. <small><a href="/about">More <i class="fa fa-chevron-right"></i></a></small></p>
</div>