<div class="hero">
	<div class="container">
		<div class="well home-text">
			<h2>Bastides</h2>
			<h3>Medieval New Towns of Southwestern France</h3>
		  	<p>Cornell Professor Emeritus John Reps began to explore and photograph these newly founded towns of the 13th-century in 1951. This collection of images recording what he saw then and on 5 later visits document the appearance of these unusual examples of medieval urban design. <small><a href="/about">More <i class="fa fa-chevron-right"></i></a></small></p>
		</div>
	</div>
</div>


