<div class="masthead">
  <h2><%= @location_selected %></h2>
  <p>
    <% if @location_selected == "Cologne" %>
      Among the many bastides bearing names of important Italian and Spanish towns
      (Pavie, Bologna, Barcelonne, Grenade, Bruges, etc.) Cologne stands out as one of
      the few--perhaps the only--to be named after a German city. This replaced the name
      "Sabolène," one apparently agreed on by its founders, Eustache de Beaumarchais,
      senechal of Philippe III, and a local lord and landowner, Otton de Terride.
      Following the usual ceremony to launch the town in 1284, residents began to build
      their houses, and three years later received their charter of rights and privileges.
    <small><a href="/cologne">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Cordes-sur-Ciel" %>
    Founded in 1222 by Raymond VII in the first year of his reign as count of Toulouse, Cordes is now included among the bastides although Raymond's charter did not use this word nor was it so referred to in any other documents of the period. Nor does Cordes have the regular grid plan that is so commonplace among the bastides. Its spectacular site atop and along the slopes of an elongated mountain made such a plan impossible.
    <small><a href="/cordes">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Domme" %>
    Domme was planned on a site atop a high, rocky promontory, one side of which drops almost vertically to the Dordogne River far below. In 1281 Simon de Melun, a royal senechal, bought the eastern end of the ridge on behalf of King Philippe III, and under his direction surveyors laid out a grid of streets with the marketplace and church site placed on flat land near the edge of the cliff. East-west streets are generally level or gently sloping as they follow the contours, but the streets crossing these and leading south from the central blocks slope sharply downward.
    <small><a href="/domme">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>


    <% if @location_selected == "La Bastide-Clairence" %>
    The plan of this linear bastide differs from all but a few others in that the principal street, rue Notre-Dame, enters the elongated marketplace at the middle of its two shorter sides. This main thoroughfare follows the sloping line of a narrow ridge defined by a river and a smaller stream. Short streets crossing at right angles lead to two other streets, one on either side of the main axis of the town. These seem to have been added at some date after the original plan was established. Two of the five cross streets lead outward from the corners of the market, here known as <em>la Place aux Arceaux</em>.
    <small><a href="/labastide-clairence">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "La Bastide-d'Armagnac" %>
    The count of Armagnac, Bernard VI, reached an agreement in 1291 with Arnaud Guillaume de Mauvezin to found a bastide on the latter's land along the river Douze. This area then being within the jurisdiction of Edward I, king-duke of Aquitaine, his senechal, Jean de Grailly, also became involved in fashioning the contrat de pareage and in conferring the important charter of rights and privileges (charte de Coutumesl) five years later.
    <small><a href="/labastide-darmagnac">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Marciac" %>
    This bastide is of royal ancestry, created in 1298 for the king of France by his senechal, Guichard de Marciac, from whom the bastide received its name. However, Marciac acted only after receiving a request to do so from the abbot of the monastery of La Case Dieu and the count of Pardiac. The count and the abbot hoped to provide a place secure from the brigands who roamed the area, raiding the countryside, and sometimes capturing people to hold for ransom.
    <small><a href="/marciac">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Mirepoix" %>
    <p>Mirepoix was one of the centers of Catharism, and in 1212 a crusading force from the north led by Guy de Levis occupied the town. After the peace of 1229 that formally ended the conflict between the French crown and the Count of Toulouse, the town gradually resumed its place as a religious and market center. 
    <small><a href="/mirepoix">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Monflanquin" %>
    <p>Whoever planned Monflanquin for Alphonse de Poitiers in 1252 was apparently convinced of the wisdom of gridiron planning no matter what the site might be. Thus, the rounded and at places steeply sloping hilltop chose for this bastide was branded with an unyielding grid of streets. Only the egg-shaped perimeter of the town reflected the topography. 
    <small><a href="/monflanquin">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Monpazier" %>
    <p>Founded during the reign of Edward I in 1284 by Jean de Grailly, his senechal, Monpazier is perhaps the best known and frequently visited of all of the bastides. Its appeal lies in its well-preserved stone buildings, many of which date from the thirteenth century, its old <em>halle</em> sheltering ancient grain measures, a street system of major arteries, minor cross streets, and narrow lanes, extensive remnants of the town wall, and the presence of several of the bastide gates. 
    <small><a href="/monpazier">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Revel" %>
    <p>Revel's outstanding feature is its marketplace whose four arcaded sides face the splendid <em>halle</em> in the center of the square. It was originally erected in the fourteenth century, but the version that one sees today is a restoration in 1834 after a fire destroyed the building five years earlier. That part of the building extending above the tile roof accommodates a jail and the meeting place of the town government. Above its roof rises the cupola and a clock, added in 1843. 
    <small><a href="/revel">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Saint-Felix Lauragais" %>
    <p>Because the charter has not survived, the exact date of the bastide's founding is not clear, but it appears to be sometime in the second half of the thirteenth century. Possibly it was created by Eustache de Beaumarchais, the royal senechal who was so active in bastide formation. This small, linear bastide has an unusual street pattern. Two main streets define the east and west sides of the market square, but except for a very narrow and short lane leading off the northwest corner of the square, the four corners of the square 165-foot square space are defined only by the two streets and buildings lining its sides. 
    <small><a href="/saint-felix-lauragais">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Sauveterre-de-Rouergue" %>
    <p>This bastide, located to the west of the main route connecting Rodez and Albi, is one of the best preserved and least affected by modern development and influences. Its plan consists of nine rectangular blocks arranged in a 3 x 3 pattern, with the central one left open. Forming the edges of this marketplace are four unbroken lines of arcades. Their arched openings look out on a space more than two hundred feet long and about one hundred thirty-five feet wide. 
    <small><a href="/sauveterre-de-rouergue">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Villefranche du Perigord" %>
    <p>Guillaume de Bagnols, Alphonse de Poitiers's senechal for the Agenais and Quercy, chose the site for this bastide in 1261. On the flat top of a long, narrow ridge overlooking the Lémance River he laid out a linear grid consisting of four main streets and one of lesser width running northwest-southeast. More widely-spaced minor streets crossing at right angles created long, narrow blocks shaped much like the bastide itself. The bastide planners placed the marketplace near the western end of the town, possibly because existing north-south roads crossed the ridge at this point. 
    <small><a href="/villefranche-du-perigord">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Villeneuve d'Aveyron" %>
    <p>This is one of a substantial number of bastides that began as a sauveté--in this case one jointly created in the eleventh century by the bishop of Rodez and the abbey of Moissac. Eight years after he founded Cordes and in the year following the treaty that ended the Albigensian Crusade, VII, count of Toulouse conferred a charter in 1230 that transformed the settlement into a bastide. it was later further extended under Alphonse de Poitiers. 
    <small><a href="/villeneuve-daveyron">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Villefranche de Rouergue" %>
    <p>Surely the most distinctive of the bastides is Villefranche-de-Rouergue, founded in 1252. Alphonse de Poitiers’s senechal, Jean d’Arcis, concluded a contract of pareage with the Bishop of Rodez who agreed to provide the site. This was located on the Aveyron River at the mouth of the Alzou at the crossing point of the two main roads of the region, one leading from Cahors to Rodez and the other linking Montpellier and what was to become the site of Montauban. 
    <small><a href="/villefranche-de-rouergue">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Villeneuve-sur-Lot" %>
    <p>Known as Villeneuve-d'Agenais until 1789, this bastide was renamed when the Sénéchaussée was eliminated. It was then more than 500 years old, having its origins in a cession of land in 1253 to Alphonse de Poitiers by the religious order that owned the site. This place was on the right bank of the Lot at the ferry landing of Gajac. The rectilinear plan of the bastide was the work of a monk from the abbey of Eysses that had provided the land, a representative of Alphonse de Poitiers, and a notary from Agen, one Pons Maynard. 
    <small><a href="/villeneuve-sur-lot">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

</div>
