<div class="masthead">
  <h2><%= @location_selected %></h2>
  <p>
    <% if @location_selected == "Cologne" %>
      Among the many bastides bearing names of important Italian and Spanish towns
      (Pavie, Bologna, Barcelonne, Grenade, Bruges, etc.) Cologne stands out as one of
      the few--perhaps the only--to be named after a German city. This replaced the name
      "Sabolène," one apparently agreed on by its founders, Eustache de Beaumarchais,
      senechal of Philippe III, and a local lord and landowner, Otton de Terride.
      Following the usual ceremony to launch the town in 1284, residents began to build
      their houses, and three years later received their charter of rights and privileges.
    <small><a href="/cologne">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Cordes-sur-Ciel" %>
    Founded in 1222 by Raymond VII in the first year of his reign as count of Toulouse, Cordes is now included among the bastides although Raymond's charter did not use this word nor was it so referred to in any other documents of the period. Nor does Cordes have the regular grid plan that is so commonplace among the bastides. Its spectacular site atop and along the slopes of an elongated mountain made such a plan impossible.
    <small><a href="/cordes">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Domme" %>
    Domme was planned on a site atop a high, rocky promontory, one side of which drops almost vertically to the Dordogne River far below. In 1281 Simon de Melun, a royal senechal, bought the eastern end of the ridge on behalf of King Philippe III, and under his direction surveyors laid out a grid of streets with the marketplace and church site placed on flat land near the edge of the cliff. East-west streets are generally level or gently sloping as they follow the contours, but the streets crossing these and leading south from the central blocks slope sharply downward.
    <small><a href="/domme">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>


    <% if @location_selected == "La Bastide-Clairence" %>
    The plan of this linear bastide differs from all but a few others in that the principal street, rue Notre-Dame, enters the elongated marketplace at the middle of its two shorter sides. This main thoroughfare follows the sloping line of a narrow ridge defined by a river and a smaller stream. Short streets crossing at right angles lead to two other streets, one on either side of the main axis of the town. These seem to have been added at some date after the original plan was established. Two of the five cross streets lead outward from the corners of the market, here known as <em>la Place aux Arceaux</em>.
    <small><a href="/labastide-clairence">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "La Bastide-d'Armagnac" %>
    The count of Armagnac, Bernard VI, reached an agreement in 1291 with Arnaud Guillaume de Mauvezin to found a bastide on the latter's land along the river Douze. This area then being within the jurisdiction of Edward I, king-duke of Aquitaine, his senechal, Jean de Grailly, also became involved in fashioning the contrat de pareage and in conferring the important charter of rights and privileges (charte de Coutumesl) five years later.
    <small><a href="/labastide-darmagnac">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>

    <% if @location_selected == "Marciac" %>
    This bastide is of royal ancestry, created in 1298 for the king of France by his senechal, Guichard de Marciac, from whom the bastide received its name. However, Marciac acted only after receiving a request to do so from the abbot of the monastery of La Case Dieu and the count of Pardiac. The count and the abbot hoped to provide a place secure from the brigands who roamed the area, raiding the countryside, and sometimes capturing people to hold for ransom.
    <small><a href="/marciac">More <i class="fa fa-chevron-right"></i></a></small></p>
    <% end %>
</div>
