<% # content for the popup for a point feature - run a new search for this location -%>
<h5 class="geo_popup_heading">
  <%= render_placename_heading(geojson_hash) %>
</h5>

<%= geojson_hash.inspect %>
                  