<button type="button" data-toggle="collapse" data-target="#sidebar-collapse" class="visible-xs">
  Menu
  <span class="fa fa-bars"></span>
</button>
<div class="collapse" id="sidebar-collapse">
	<ul class="nav">
		<li><%= link_to 'Home', root_path %></li>
		<li><a href="/about">About the Project</a></li>
		<li><a href="/?coordinates=44.534871%2C0.769289&f%5Blocation_facet_tesim%5D%5B%5D=Monflanquin&q=&search_field=all_fields&spatial_search_type=point&utf8=%E2%9C%93&view=maps">Browse All Bastides</a></li>
	</ul>
	<%= render 'facets' %>
	<ul class="nav">
		<li><a href="/author">Author</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>