<button type="button" data-toggle="collapse" data-target="#sidebar-collapse" class="visible-xs">
  Menu
  <span class="fa fa-bars"></span>
</button>
<div class="collapse" id="sidebar-collapse">
	<ul class="nav">
		<li><a href="<% root_path %>">Home</a></li>
		<li><a href="/about">About the Bastides</a></li>
		<li><a href="/bastides">Selected Bastides</a></li>
	</ul>
	<%= render 'facets' %>
	<ul class="nav">
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>