.home-text {
	border-bottom: 5px solid $aqua;
	margin-bottom: 1em;
	strong {
		color: $navy;
	}
	small {
		font-size: 75%;
	}
}
.well {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	background: $well-bg;
}
.btn-bastides {
	background: $turquoise;
	color: white;
	display: inline-block;
	margin: 0 0 1em 1em;
}
.btn-bastides:hover, .btn-bastides:active, .btn-bastides:focus {
	background: $turquoise;
	color: white;
}