// Well
// ----------------
.well {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	background: $well-bg;
}
// Home page text
// -----------------
.home-text {
	strong {
		font-size: 150%;
		color: $turquoise;
	}
	small {
		font-size: 75%;
	}
	a {
		display: inline-block;
		margin-left: .5em;
	}
	p {
		margin-bottom: 0;
	}
}
// Bastides button
// -----------------
.btn-bastides {
	background: $turquoise;
	color: white;
	display: inline-block;
	margin: 0 0 1em 1em;
}
.btn-bastides:hover, .btn-bastides:active, .btn-bastides:focus {
	background: $turquoise;
	color: white;
}
// Top link
// -----------------
.toplink {
	font-size: 14px;
	text-align: right;
}

// Dust cover
// -----------------
.dust {
	background: $gray-dark;
	text-align: center;
	.hero {
		img {
			width: 800px;
			height: auto;
			max-width: 100%;
		}
	}
	.cover-title {
		position: relative;
		// margin-top: -200px;
		h1 {
			font-weight: 700;
			font-size: 48px;
			a {
				color: white;
			}
			a:hover, a:active, a:focus {
				text-decoration: none;
			}
		}
		h2 {
			text-transform: none;
			a {
				color: white;
			}
			a:hover, a:active, a:focus {
				text-decoration: none;
			}
		}
	}
}


// MEDIA QUERIES
// -------------------------
// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
	.dust {
		.cover-title {
			margin-top: -170px;
		}
	}
}
// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.dust {
		.cover-title {
			margin-top: -170px;
		}
	}
}
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }