.home-text {
	border-bottom: 5px solid $aqua;
	margin-bottom: 2em;
	strong {
		color: $navy;
	}
	small {
		font-size: 75%;
	}
}
.well {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	background: $well-bg;
}