// About menu
// ----------------
.btn-menu {
    background: $navy;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    border: 0;
    i {
        margin-right: .5em;
        color: $turquoise;
    }
}
.btn-menu:hover, .btn-menu:active, .btn-menu:focus {
    color: white;
    text-decoration: none;
}
.menu-toggle {
	text-align: right;
	.dropdown-menu {
		right: 0;
	}
}
// Browse all Bastides
// ----------------------
.bastide {
	@include make-sm-column(3);
	text-align: center;
	margin-bottom: 2em;
	img {
		margin-bottom: 1em;
	}
	h3 {
		font-size: 18px;
		margin: 0;
		font-weight: normal;
	}
}
.back-link {
	i {
		margin-right: .25em;
	}
}
.downlink {
	text-align: center;
	i {
		margin-right: .25em;
	}
}
// Then and Later
// ----------------------
.then-later {
	.well {
		background: black;
		text-align: center;
	}
	.caption {
		color: white;
		display: block;
		margin: .5em 0 1em 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}