// This is a copy of the CSS from the blacklight-maps gem; need to override the flex-box stuff so that the gallery displays rows correctly in Safari
// See DIGCOLL-70

#documents.gallery {
  // display: block !important;
  .document {
    -webkit-box-flex: none !important;
    -moz-box-flex: none !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important;
    min-width: inherit !important;
    min-height: inherit !important;
  }
}