header {
	background: $navy;
	padding: .75em 0;
}


// Branding
// ------------------- //
.cornell-identity {
	@include make-sm-column(6);
}
.insignia {
	float: left;
	margin-right: 1em;
}

// Library brand
.cul-brand {
	font-size: 20px;
	font-family: $font-family-cul;
	display: block;
	color: white;
	margin-top: .5em;
	text-decoration: none;
	margin-bottom: .2em;
}
.cul-brand:hover, .cul-brand:active, .cul-brand:focus {
	color: white;
	text-decoration: none;
}

// Bastides brand
.brand {
	text-transform: uppercase;
	font-size: 28px;
	font-family: $font-family-cul;
	color: white;
	line-height: 1em;
	text-decoration: none;
}
.brand:hover, .brand:active, .brand:focus {
	color: white;
	text-decoration: none;
}

// Util links
// ------------- //
.user-links {
	.navbar-nav {
		float: right;
	}
	.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
		color: white;
		font-size: 14px;
	}
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		background: inherit;
		text-decoration: underline;
	}
}