// Gem overrides
// ------------ //

.leaflet-container {
	font-family: $font-family-sans-serif !important;
	a {
		color: $link-color !important;
	}
}

// Map popup
// -------------- //
.leaflet-popup {
	img {
		max-width: 100% !important;
	}
}
.geo_popup_heading {
	text-align: center;
	line-height: 1.4em;
}

// Hide map info ("# items found, # locations mapped")
// ----------------------------------------------------
.mapped-count, .mapped-caveat {
	display: none;
}