// Gem overrides
// ------------ //

.leaflet-container {
	font-family: $font-family-sans-serif !important;
	a {
		color: $link-color !important;
	}
}

// Marker colors
// --------------- //
.marker-cluster-small {
    background-color: rgba(16, 28, 55, 0.6) !important;
    }
.marker-cluster-small div {
    background-color: rgba(123, 214, 202, 0.8) !important;
    }

.marker-cluster-medium {
    background-color: rgba(16, 28, 55, 0.6) !important;
    }
.marker-cluster-medium div {
    background-color: rgba(123, 214, 202, 0.8) !important;
    }

.marker-cluster-large {
    background-color: rgba(16, 28, 55, 0.6) !important;
    }
.marker-cluster-large div {
    background-color: rgba(123, 214, 202, 0.8) !important;
    }
.marker-cluster div {
	font-family: $font-family-sans-serif !important;
}