.header-search {
	@include make-sm-column(6);
}
.search-btn,
.search-btn:hover,
.search-btn:active,
.search-btn:focus {
	background: inherit;
	border: inherit;
}
.search-btn {
	padding-top: 2px;
	padding-bottom: 0;
	.fa {
		font-size: 2em;
		color: $aqua;
	}
}

// BS override
.input-group-btn {
	width: 1% !important;
}

// Search form
// ---------------------------
.search-query-form {
	select.form-control {
		float: left;
		width: 30%;
		margin-right: .25em;
	}
}
.search-input-group {
	width: auto;
}


// Search results - gallery
// ---------------------------
.gallery {
	h5 {
		font-size: 14px;
		line-height: 1.25em;
	}
}
.thumbnail {
	background: inherit;
	border-radius: 0;
	padding: 6px;
}

// Sort and per page
// -------------------
// Hide on home page
.blacklight-home {
	#sortAndPerPage {
		display: none;
	}
}

// Constraints 
// ----------------
#appliedParams {
	margin-bottom: 1em;
}
.filterValue {
	font-weight: 700;
	color: $navy;
}
.remove {
	.glyphicon {
		color: $turquoise;
	}
}
.constraint {
	.remove:hover {
		background: $turquoise !important;
		border-color: $turquoise !important;
		.glyphicon {
			color: white;
		}
	}
}
// Facets
// --------------
.facet-values {
	li {
		.selected {
			color: $navy;
			font-weight: 700;
		}
	}
}
// Sort and per page
// ------------------
#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
	color: $link-color;
}

// Pagination
// --------------
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	background-color: $turquoise;
	border-color: $turquoise;
}
.pagination > li > a, .pagination > li > span {
	color: $link-color;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.header-search {
		text-align: right;
		form {
			margin-top: 2em;
			float: right;
			width: 100%;
		}
	}
	.search-input-group {
		width: 68%;
	}
	.search-query-form {
		select.form-control {
			float: none;
			// width: 100%;
			margin-right: 0;
		}
	}

}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	// .search-input-group {
	// 	width: 75%;
	// }
}
