#sidebar {
	background: $pale-gray;
	border-bottom: 5px solid $aqua;
	padding-top: 1em;
	h1 {
		margin: 0 0 .5em 0;
		font-family: $font-family-cul;
		text-transform: uppercase;
	}
	.nav > li > a {
		padding: 10px 0;
		border-top: 1px solid #c0c4c2;
		color: $navy;
	}
	.nav > li:first-child > a {
		border-top: 0;
	}
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		color: $aqua-dark;
		background: inherit;
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	#sidebar-collapse {
		display: block !important;
	}
}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }
// Large devices (desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }