
// Slideout nav taken from:
// http://stackoverflow.com/questions/13604285/collapsible-sidebar-with-fluid-twitter-bootstrap 
// http://jsfiddle.net/dmyTR/37/ 


#content {
    margin-left: 5px;
}

#mapCanvas img {
    max-width: none;
}




.accordion-heading .accordion-toggle-small {
    display: block;
    padding: 4px 8px; /*8px 15px;*/
}

.accordion-inner-small {
    padding: 4px 8px;  /*9px 15px;*/
    border-top: 1px solid #e5e5e5;
}

.no-sidebar {
    margin-left:0 !important;
}

#sidebar {
    position: fixed;
    top: 50px;
    right: -300px;
    width: 300px;
    padding: 2.5em;
    background: $pale-gray;
}

// #sidebar-content {
//     width: 80%;
//     float: left;
//     background-color: white;
// }

#toggleSidebar {
    float: right;
    height: 100%;
    width: 20px;
}