// Cornell colors
// ----------------- //

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;
$cornell-black: #222222;

// $border-color: #dddddd;


// Custom colors
// ---------------- //
$pale-gray: #e9ebe2;
$aqua: #7bd6ca;
$aqua-dark: #0d9ebb;
$navy: #101c37;


// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);

