<div class="pull-right slide-number">
	3
</div>
<h3>Cologne Halle</h3>
<div class="well then-later">
	<div class="row">
		<div class="col-sm-6">
			<a href="/catalog/ss:3851621"><%= image_tag "http://stor.artstor.org/stor/4c3a12a7-6a2e-4fb2-981e-fcde709d3dc5_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3851621" class="caption">1966</a>
		</div>
		<div class="col-sm-6">
			<a href="/catalog/ss:3851618"><%= image_tag "http://stor.artstor.org/stor/39655436-b3f8-411d-af42-0c01c1aeb319_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3851618" class="caption">1999</a>
		</div>
	</div>
</div>