<div class="pull-right slide-number">
	7
</div>
<h3>Beaumont-du-Périgord: Market Square</h3>
<div class="well then-later">
	<div class="row">
		<div class="col-sm-6">
			<a href="/catalog/ss:3851416"><%= image_tag "http://stor.artstor.org/stor/1f4e3cb6-5003-4c09-bb6d-994b87062663_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3851416" class="caption">2001</a>
		</div>
		<div class="col-sm-6">
			<a href="/catalog/ss:3851374"><%= image_tag "http://stor.artstor.org/stor/06216d52-55a2-44f1-89bf-9deac4b53249_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3851374" class="caption">2009</a>
		</div>
	</div>
</div>