<div class="pull-right slide-number">
	5
</div>
<h3>Beaumont-du-Périgord: Market Square</h3>
<div class="well then-later">
	<div class="row">
		<div class="col-sm-12">
			<a href="/catalog/ss:3851412"><%= image_tag "http://stor.artstor.org/stor/09ced349-48d0-44af-ac92-9efb7ace5fc3_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3851412" class="caption">1951</a>
		</div>
	</div>
</div>