<div class="pull-right slide-number">
	1
</div>
<h3>Monflaquin</h3>
<div class="well then-later">
	<div class="row">
		<div class="col-sm-6">
			<a href="/catalog/ss:3852655"><%= image_tag "http://stor.artstor.org/stor/90886273-d7fc-4e18-a120-400c386adffb_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3852655" class="caption">1966</a>
		</div>
		<div class="col-sm-6">
			<a href="/catalog/ss:3852568"><%= image_tag "http://stor.artstor.org/stor/a9200aa7-302c-4688-84ba-9b88b9f1f97f_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3852568" class="caption">2009</a>
		</div>
	</div>
</div>