<div class="pull-right slide-number">
	6
</div>
<h3>Beaumont-du-Périgord: Market Square</h3>
<div class="well then-later">
	<div class="row">
		<div class="col-sm-6">
			<a href="/catalog/ss:3851410"><%= image_tag "http://stor.artstor.org/stor/32aec992-4d7a-4e04-a306-2620f99550e0_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3851410" class="caption">1966</a>
		</div>
		<div class="col-sm-6">
			<a href="/catalog/ss:3851414"><%= image_tag "http://stor.artstor.org/stor/715a7816-b3c7-407c-943d-49c730af78f4_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3851414" class="caption">1999</a>
		</div>
	</div>
</div>