<div class="pull-right slide-number">
	2
</div>
<h3>The Market Building at Revel</h3>
<div class="well then-later">
	<div class="row">
		<div class="col-sm-4">
			<a href="/catalog/ss:3853168"><%= image_tag "http://stor.artstor.org/stor/77bb28ed-4e6a-459d-b49d-a544c2fb22e0_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3853168" class="caption">1966</a>
		</div>
		<div class="col-sm-4">
			<a href="/catalog/ss:3853172"><%= image_tag "http://stor.artstor.org/stor/49eb685d-2b32-4d44-b37d-08c0805a61df_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3853172" class="caption">2001</a>
		</div>
		<div class="col-sm-4">
			<a href="/catalog/ss:3853179"><%= image_tag "http://stor.artstor.org/stor/ec25294a-7860-4193-b489-19b2ec0f358f_size3" , alt: "", class: "img-responsive" %></a>
			<a href="/catalog/ss:3853179" class="caption">2009</a>
		</div>
	</div>
</div>